How to harden the data encryption cipher and data channel encryption cipher on Wireguard installation?

Hiya,



There are no settings in hardening the data encryption cipher and data channel encryption cipher on the Wireguard installation procedure? How shall I set the data encryption cipher and data channel encryption cipher on Wireguard installation to maximum security and keep the privacy intact(if privacy involved in the procedure, otherwise just consider about encryption security only)?


Tnx and best of luck

I don't think the encryption is customizable with WireGuard but it is "Cryptographically Sound" anyway https://www.wireguard.com/

Hiya @randomshell 


Do you mean I can't select the best combination of these cryptography algorithms unless I change the cryptography function in the protocol and this may have side effects on security possibly?
_**ChaCha20 for symmetric encryption, authenticated with Poly1305, using RFC7539's AEAD construction
Curve25519 for ECDH
BLAKE2s for hashing and keyed hashing, described in RFC7693
SipHash24 for hashtable keys
HKDF for key derivation, as described in RFC5869**_

As you mentioned in a different topic as 'WireGuard with a pre-shared key for post-quantum security', do you mean while my Wireguard installation has 'preshared key' as below, then this is more secure than OpenVPN with TLS 1.3 and data encryption cipher of AES-256-CBC with data control channel cipher of TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384?
**_[Interface]
PrivateKey =
Address = 
DNS = 

[Peer]
PublicKey = 
PresharedKey =
AllowedIPs = 
Endpoint =_** 

Tnx and best of luck

> Do you mean I can't select the best combination of these cryptography algorithms unless I change the cryptography function in the protocol and this may have side effects on security possibly?

The best possible settings are already in use by WireGuard and they have been audited, you can read its whitepaper too.

> As you mentioned in a different topic as 'WireGuard with a pre-shared key for post-quantum security', do you mean while my Wireguard installation has 'preshared key' as below, then this is more secure than OpenVPN with TLS 1.3 and data encryption cipher of AES-256-CBC with data control channel cipher of TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384?

This script generates the pre-shared key and uses it on top of the public key encryption. You don't have to do anything else.

I'm not an expert so I don't know "what is more secure". Personally I'd use WireGuard for its performance, small and well audited codebase, etc over OpenVPN.

Indeed WireGuard is safe by itself, no need to "harden" it. It does not support any customization for the encryption settings anyway.